* {
  text-align: center;
  background-color: #282c34;
}

.empty-container {
  width: 1vw;
  height: 1vh;
}

#labelbox {
  cursor: pointer;
}
.imgbox {
  width: 100vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.imgbox.wide {
  flex-direction: column;
}
.imgbox.tall {
  flex-direction: row;
}
img {
  height: auto;
  width: auto;
  object-fit: contain;
}
img.wide {
  height: 100%;
  width: auto;
}
img.tall {
  width: auto;
  height: 100%;
}
.main-text {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pic-subtext {
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

#help-popup-button {
  border:none;
  position:absolute;
  right:5px;
  top:5px;
}
#help-popup-button img {
  height: 30px;
}
#helpBox * {
  color: white;
  padding: 2px;
}
#helpBox ol {
  list-style-position: inside;
}
#helpBox li {
  text-align: left;
  text-indent: 3em;
}
#helpBox .corner-close {
  font-size: 1.1em;
  position:absolute;
  right: -10px;
  top: -10px;
  padding: 2px 5px;
  border: 3px solid white;
  border-radius: 18px;
}
#helpBox .help-close {
  font-size: 1.1em;
  padding: 3px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 8px;
}
#helpBox .close {
  cursor: pointer;
}
#helpBox .header {
  font-weight: bold;
  font-size: 1.2em;
}


#timerbox {
  justify-content: center;
  display:flex;
}
#timerbox #show-timer-button, #timerbox #hide-timer-button {
  max-width: 30px;
  background-color: #282c34;
  padding:3px;
  border:none;
  position:absolute;
  right:13px;
  top:45px;
}
#timerbox #hide-timer-button img, #timerbox #show-timer-button img {
  max-width: 25px;
  border-radius: 10px;
  background-color:none;
}
#timerbox #show-timer-button img {
  border: 2px solid lightgray;
}
#timerbox #hide-timer-button img {
  border: 2px solid red;
}
#timerbox #countdown {
  font-size:12vh;
  border-radius:5px;
  border:2px solid white;
  position:relative;
}
#timerbox #countdown.time-remaining {
  color:#282c34;
  background-color:lightskyblue;
}
#timerbox #countdown.out-of-time {
  color:white;
  background-color:red;
}
#countdown #edit-timer-button {
  max-width: 30px;
  background:none;
  padding:3px;
  border:none;
  position:absolute;
  right:-3vw;
  top:-5px;
}
#countdown #edit-timer-button img {
  max-width: 25px;
  width: 3vw;
  border-radius: 10px;
  background-color:none;
}#countdown #edit-timer-button img {
  border: 2px solid white;
}
.popup-content:has(>#time-limit-editor) {
  width:150px;
  max-width:200px;
}
#time-limit-editor * {
  color: white;
  padding: 2px;
}
#time-limit-editor input {
  min-width:30px;
  max-width:50px;
}
#time-limit-editor .corner-close {
  font-size: 1.1em;
  position:absolute;
  right: -10px;
  top: -10px;
  padding: 2px 5px;
  border: 3px solid white;
  border-radius: 18px;
}
#time-limit-editor .close {
  cursor: pointer;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
}

.App-link {
  color: #61dafb;
}
