* {
  text-align: center;
  background-color: #282c34;
}

.empty-container {
  width: 1vw;
  height: 1vh;
}

.imgbox {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.imgbox.wide {
  flex-direction: column;
}
.imgbox.tall {
  flex-direction: row;
}
img {
  height: auto;
  width: auto;
  object-fit: contain;
}
img.wide {
  height: 100%;
  width: auto;
}
img.tall {
  width: auto;
  height: 100%;
}
.main-text {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pic-subtext {
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

#help-popup-button {
  border:none;
  position:absolute;
  right:5px;
  top:5px;
}
#help-popup-button img {
  height: 30px;
}
#helpBox * {
  color: white;
  padding: 2px;
}
#helpBox ol {
  list-style-position: inside;
}
#helpBox li {
  text-align: left;
  text-indent: 3em;
}
#helpBox .corner-close {
  font-size: 1.1em;
  position:absolute;
  right: -10px;
  top: -10px;
  padding: 2px 5px;
  border: 3px solid white;
  border-radius: 18px;
}
#helpBox .help-close {
  font-size: 1.1em;
  padding: 3px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 8px;
}
#helpBox .close {
  cursor: pointer;
}
#helpBox .header {
  font-weight: bold;
  font-size: 1.2em;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
}

.App-link {
  color: #61dafb;
}
